<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:sws="http://www.springframework.org/schema/web-services"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:oxm="http://www.springframework.org/schema/oxm"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/web-services http://www.springframework.org/schema/web-services/web-services-2.0.xsd
		http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
	
	
	
	
	
	
	
	
	<!-- <context:annotation-config />
	<context:component-scan base-package="be.gallifreyan.ws" />
	<sws:annotation-driven />
	
	<sws:interceptors>
	 	    <bean id="validatingInterceptor"  class="org.springframework.ws.soap.server.endpoint.interceptor.PayloadValidatingInterceptor"
				        p:schema="/WEB-INF/xsd/OrderService.xsd"
				        p:validateRequest="true"
				        p:validateResponse="true"/>
		    <bean id="loggingInterceptor" class="org.springframework.ws.server.endpoint.interceptor.PayloadLoggingInterceptor"/>
	 </sws:interceptors> -->
	 
	<!-- <sws:dynamic-wsdl id="profile" portTypeName="UserManagement"
		locationUri="/ProfileService" targetNamespace="http://gallifreyan.be/usermanagement/schemas">
		<sws:xsd location="/WEB-INF/xsd/UserManagement.xsd" />
	</sws:dynamic-wsdl> -->

	<!-- <sws:dynamic-wsdl id="order" portTypeName="OrderService"
		locationUri="/OrderService" targetNamespace="http://www.liverestaurant.com/OrderService/schema">
		<sws:xsd location="/WEB-INF/xsd/OrderService.xsd" />
	</sws:dynamic-wsdl> -->

	<!-- <bean id="orders"
		class="org.springframework.ws.wsdl.wsdl11.DefaultWsdl11Definition">
		<property name="schemaCollection" ref="schemaCollection" />
		<property name="portTypeName" value="Orders" />
		<property name="locationUri" value="http://localhost:9773/OrderService/" />
	</bean>

	<bean id="schemaCollection"
		class="org.springframework.xml.xsd.commons.CommonsXsdSchemaCollection">
		<property name="xsds">
			<list>
				<value>/WEB-INF/xsd/OrderService.xsd</value>
				<value>/WEB-INF/xsd/UserManagement.xsd</value>
			</list>
		</property>
		<property name="inline" value="true" />
	</bean> -->
	
	<!-- <oxm:jaxb2-marshaller id="marshaller" contextPath="be.gallifreyan.ws.model" 
		/>
	
	<bean id="marshallingPayloadMethodProcessor" class="org.springframework.ws.server.endpoint.adapter.method.MarshallingPayloadMethodProcessor">
		<constructor-arg ref="marshaller"/>
		<constructor-arg ref="marshaller"/>
	</bean>
	
	<bean id="defaultMethodEndpointAdapter" class="org.springframework.ws.server.endpoint.adapter.DefaultMethodEndpointAdapter">
		<property name="methodArgumentResolvers">
			<list>
				<ref bean="marshallingPayloadMethodProcessor"/>
			</list>	
		</property>
		<property name="methodReturnValueHandlers">
			<list>
				<ref bean="marshallingPayloadMethodProcessor"/>
			</list>
		</property>
	</bean> -->
</beans>